#adopcion{
    margin-bottom: .5em;
}

#grillaCardsAdopcion{
    margin-bottom: 2.5em;
}
#zona{
    margin-top: 1em;
}
#botonAdoptar{
    margin-top: 0em;
    margin-bottom: 1.5em;
}
#like{
    margin-top: .6em;
}