* {
    box-sizing: border-box;
    margin:0px;
    padding:0px; 
}

#navBar{
    background-color: #97B9A0;
    margin-bottom: 1.5em;
}
#contenedor, #botonIcon{
    padding-left: 0px;
    padding-right: 0px;
}